.app {

}

.is-yummy {
  width: 10px;
  height: 10px;;
  background: gray;
  display: block;
  margin: 8px 10px 0 0;
  float: left;
  border-radius: 22%;
  &.yummy {
    background: lightgreen;
  }
}

.no-yummy {
background: pink;
}
